body {
  background-color: #28223F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: 'DroidobeshDepot-Regular';
  src: url('./font/DroidobeshDepot-Regular.eot');
  src: url('./font/DroidobeshDepot-Regular.eot?#iefix') format('embedded-opentype'),
       url('./font/DroidobeshDepot-Regular.svg#DroidobeshDepot-Regular') format('svg'),
       url('./font/DroidobeshDepot-Regular.ttf') format('truetype'),
       url('./font/DroidobeshDepot-Regular.woff') format('woff'),
       url('./font/DroidobeshDepot-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.droid-font {
  font-family: DroidobeshDepot-Regular;
  color: #ffe81f
}

.card {
  width: 250px;
  margin-right: 10px;
  user-select: none;
  max-height: 380px;
  font-family: inherit;
  cursor: pointer;
  background-color: #231E39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color: #B3B8CD;
  padding-top: 30px;
  position: relative;
  width: 350px;
  text-align: center;
}
.card-title {
  font-weight: 800;
    letter-spacing: 2px;
    user-select: none;
}
.logo {
  width: 400px;
  margin-bottom: -60px;
}
.label {
  color: #ffe81f;
}
.title {
  justify-content: center;
  text-align: center;
  color: #ffe81f;
  user-select: none;
  font-weight: 800;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  margin: 0 auto;
    width: 1140px;
    min-height: 600px;
}
.input-group {
      width: 1000px;
    text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 800;
}

.card-body {
  background-color: #1F1A36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}
.charPage {
  color: white;
  font-family: inherit
}
.film_crawl {
    color: aliceblue;
    width: 900px;
}
.film_crawl > p {
  line-height: 30px;
  font-size:18px;
  font-weight: 500;
}
