@font-face {
  font-family: 'DroidobeshDepot-Regular';
  src: url('DroidobeshDepot-Regular.eot');
  src: url('DroidobeshDepot-Regular.eot?#iefix') format('embedded-opentype'),
       url('DroidobeshDepot-Regular.svg#DroidobeshDepot-Regular') format('svg'),
       url('DroidobeshDepot-Regular.ttf') format('truetype'),
       url('DroidobeshDepot-Regular.woff') format('woff'),
       url('DroidobeshDepot-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

